body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 10px;
}

main {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    font-family: 'Old Standard TT', serif;
}

section {
    margin-bottom: 20px;
    margin: 20px 0;
}

a {
    color: #666;
    text-decoration: none;
    margin: 20px;
    font-size: 1.5em;
}

/* Styles for tablets and medium-sized devices */
@media (max-width: 768px) {
    a {
        font-size: 1.5em;
        margin: 15px;
    }
}

/* Styles for mobile phones and small devices */
@media (max-width: 480px) {
    a {
        font-size: 1em;
        margin: 10px;
    }
}


