.image-container {
    width: 100%;
    height: auto;  
    overflow: hidden; 
}


.text-component {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify; 
    font-size: 1.5em; 
    padding: 0 0.5em;
}