body {
    /* font-family: Arial, sans-serif; */
    color: #333;
    padding: 10px;
}

main {

    display: flex;
    flex-direction: column;
    min-height: 80vh;
    font-family: 'Old Standard TT', serif;
}

section {
    margin-bottom: 20px;
    margin: 20px 0;
}

a {
    color: #666 !important;
    text-decoration: none !important;
    margin: 20px;
    font-size: 1.5em;
    font-family: 'Old Standard TT', serif !important;
}

.photo-frame {
    padding: 10px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Styles for tablets and medium-sized devices */
@media (max-width: 768px) {
    a {
        font-size: 1.5em;
        margin: 15px;
    }
}

/* Styles for mobile phones and small devices */
@media (max-width: 480px) {
    a {
        font-size: 1em;
        margin: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
    a {
        font-size: 1.2em;
        margin: 15px;
    }
    .image-container .large-images {
        display: flex;
        justify-content: center;  
    }

    .image-container .large-images img {
        width: 40% !important;
         height: auto;  
        overflow: hidden;  
        display: flex;
        justify-content: center;
    }

    .image-container .col-12 {
        width: 80% !important;
        height: auto;  
        overflow: hidden;
        
        display: flex;
        justify-content: center;  
    }
}

@media (max-width: 500px) {
    a {
        font-size: 1.5em;
        margin: 20px;
    }
    .image-container .large-images {
        display: flex;
        justify-content: center;  
    }
    .image-container .large-images img {
        width: 40% !important;
        height: auto;  
        overflow: hidden;
        
        display: flex;
        justify-content: center;  
    }
    .image-container .col-12 {
        width: 80% !important;
        height: auto;  
        overflow: hidden;
        
        display: flex;
        justify-content: center;  
    }

}